@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>La solución aquí planteada se desarrolla a partir de la materia de nuevos lenguajes de programación</p>
</div>
